/* use: http://cssminifier.com/raw*/
body {
	background: #191919;
	color: #f3f3f3;
	font-family: 'Fira Mono', monospace;
	font-size: 16px;
	margin: 0;
}
a {
	color: inherit;
}
container {
	width: 95%;
	max-width: 800px;
	display: block;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
}
.small {
	max-width: 500px;
}
nav {
	width: 100%;
	background: #f3f3f3;
	color:  #191919;
	padding: 0.3em 0;
}
.navContainer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	}
.navContainer h2 {
	flex-grow: 2;
	margin: 0.5em 0;
}
.navContainer h2 a {
	text-decoration: none;
}
.navContainer .icon {
	margin-left: 1em;
	display: inline-block;
	width: 28px;
	line-height: 28px;
	height: 28px;
	background-size: cover;
}
.bulbIcon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M9%2021c0%20.55.45%201%201%201h4c.55%200%201-.45%201-1v-1H9v1zm3-19C8.14%202%205%205.14%205%209c0%202.38%201.19%204.47%203%205.74V17c0%20.55.45%201%201%201h6c.55%200%201-.45%201-1v-2.26c1.81-1.27%203-3.36%203-5.74%200-3.86-3.14-7-7-7zm2.85%2011.1l-.85.6V16h-4v-2.3l-.85-.6C7.8%2012.16%207%2010.63%207%209c0-2.76%202.24-5%205-5s5%202.24%205%205c0%201.63-.8%203.16-2.15%204.1z%22%2F%3E%3C%2Fsvg%3E')
}
.settingsIcon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19.43%2012.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49%201c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46%202.18%2014.25%202%2014%202h-4c-.25%200-.46.18-.49.42l-.38%202.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49%200-.61.22l-2%203.46c-.13.22-.07.49.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65c-.19.15-.24.42-.12.64l2%203.46c.12.22.39.3.61.22l2.49-1c.52.4%201.08.73%201.69.98l.38%202.65c.03.24.24.42.49.42h4c.25%200%20.46-.18.49-.42l.38-2.65c.61-.25%201.17-.59%201.69-.98l2.49%201c.23.09.49%200%20.61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12%2015.5c-1.93%200-3.5-1.57-3.5-3.5s1.57-3.5%203.5-3.5%203.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z%22%2F%3E%3C%2Fsvg%3E');
}
.navContainer span {
	margin-right: 0.8em;
	font-weight: 600;
}
@media only screen and (max-width: 500px) {
	.sensorContainer {
		order: 2;
		text-align: center;
		flex-grow: 2;
		margin: 0.5em 0;
	}
}
.switchContainer {
	margin: 2em auto;
	width: 98%;
	max-width: 500px;
}
.switchContainer.small {
	max-width: 400px;
}
.switchContainer h4, .switchContainer h3 {
	font-weight: 400;
	margin: 0.6em 0;
}
.switch {
	overflow: hidden;
	height: 120px;
	line-height: 120px;
	width: 100%;
	background: #f3f3f3;
	color: #191919;
	border-radius: 4px;
	display: flex;
	position: relative;
}
.switchContainer.small .switch {
	height: 100px;
	line-height: 100px;
}
.switch a {
	z-index: 10;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
	flex-grow: 2;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 
	"Segoe UI", "Roboto", "Oxygen", 
	"Ubuntu", "Cantarell", "Fira Sans", 
	"Droid Sans", "Helvetica Neue", sans-serif;
}
.switchContainer.small .switch a {
	font-size: 50px;
}
.switch.off .onLabel {
	color: #191919;
}
.switch.off .offLabel {
	color: #f3f3f3;
}
.switch.on .onLabel {
	color: #f3f3f3;
}
.switch.on .offLabel {
	color: #191919;
}

.toggler {
	position: absolute;
	width:  50%;
	height: 100%;
	bottom: 0;
	z-index: 0;
	transition: all ease 0.4s;
}
.switch.on .toggler {
	left: 0;
	background: #115C24;
}
.switch.off .toggler {
	left: 50%;
	background: #802516;
}
input {
	padding: 1em 0.8em;
	margin-bottom: 0.8em;
	margin-right: 0.5em;
	width: 100%;
	box-sizing: border-box;
	border-radius: 2px;
	border: 1px solid gray;
	outline: 0;
	font-size: 0.8rem;
}
input[type="submit"] {
	background-color: #115C24;
	color: white;
	border-color: #115C24;
	text-transform: uppercase;
	font-weight: bold;
}
input[type="checkbox"] {
	width: auto;
}
label {
	display: block;
	margin-bottom: 0.7em;
	font-size: 0.8em;
}
#l0 {
	color: #008000;
}
#l1 {
	color: #FFA500;
}
#l2 {
	color: #FF8040;
}
#l3 {
	color: #FF0000;
}
#l4 {
	color: #800000;
}